.plan {
	font-size: 20;
	font-family: Arial;
	background-color: rgb(35, 100, 240);
	color: white;
	width: fit-content;
	margin: 100px auto 100px auto;
	padding: 50px 70px;
	border-radius: 15px;
}

table {
	margin: auto;
	font-size: 20;
	color: white;
	border-collapse: collapse;
}

th {
	text-align: right;
	font-weight: normal;
	padding: 10px 0px;
	border-bottom: 1px solid rgb(255, 255, 255);
}

td {
	padding: 10px 0px 10px 50px;
	border-bottom: 1px solid rgb(255, 255, 255);
}

#gesamt {
	font-weight: bold;
	border: none;
}